$color-dark: #262626;
$color-black: #000;
$color-primery: #fde3e9;
$color-tertiery:#f8f6f4;
$color-secondery: #dddad1;
$font-raleway: "Raleway", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-great-vibes:'Great Vibes', cursive;

@mixin flexLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin logoTextStyle {
    font-weight: 200;
    letter-spacing: 2px;
    color: $color-primery;
}

@mixin centerPosition($topValue){
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translatex(-50%);
}

@mixin backroundPic($picUrl){
    background: linear-gradient(
            rgba($color-black, 0.6),
            rgba($color-black, 0.4)
        ),
        url($picUrl) no-repeat center / cover;
}

%fullSpace{
    width: 100%;
    height: 100%;
}


* {
    margin: 0;
    padding: 0;

}

ul{
    list-style-type: none;
    padding-left: 0;
}

body {
    background-color: $color-dark;
}
