.hamburger-menu{
    height: 40px;
    width: 40px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 5;
    transition: all .5s;

    .menu{
        @extend %fullSpace;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
      

        &-line{
            height: 3px;
            width: 100%;
            background-color: $color-primery;
            border-radius: 2px;
            transition: all 0.5s 0.5s;
            transform-origin: right;
        }
    }
}

.logo {
    color: $color-primery;
    border: 2px solid $color-primery;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    @include flexLayout;
    background-color: $color-tertiery;
    > img {
        height: 70%;
        width: 70%;
    }
}

.main-name {
    font-size: 40px;
    text-align: center;
    font-family: $font-raleway;
    @include logoTextStyle;
}

.sub-name {
    font-size: 20px;
    font-family: $font-poppins;
    @include logoTextStyle;
}

.main-heading {
    font-family: $font-great-vibes;
    font-size: 84px;
    color: $color-secondery;
    font-weight: 200;
    text-align: center;
}

.sub-heading {
    font-family: $font-poppins;
    font-size: 32px;
    font-weight: 200;
    color: $color-secondery;
    text-align: center;
    word-spacing: 6px;
    font-style: italic;
}

.main-btn {
    color: $color-primery;
    background-color: transparent;
    border: 1px solid $color-primery;
    font-family: $font-poppins;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 10px 18px;
    transition: all 0.4s;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;

    &:hover {
        background-color: $color-primery;
        color: $color-dark;
    }
}

.decorative-line {
    height: 40px;
    margin-top: -10px;
}

.card {
    width: 33.3333%;
    height: 30vw;
    position: relative;
    overflow: hidden;

    &-info {
        position: absolute;
        top: 0;  
        left: -100%;     
        z-index: 1;
        background-color: $color-primery;
        opacity: 0.7;
        @extend %fullSpace;
        @include flexLayout;
        flex-direction: column;
        color: $color-dark; 
        transition: all 1s;      

        &-heading {
            font-family: $font-raleway;
            font-size: 30px;
            width: 60%;
            text-align: center;
            font-style: italic;
            font-weight: 400;
        }

        p {
            font-size: 22px;
            font-family: $font-poppins;            
        }
    }

    &-image {
        @extend %fullSpace;
        object-fit: cover;

        img {
            @extend %fullSpace;
            object-fit: cover;
            opacity: 0.6;
        }
    }

    &:hover{
        .card-info{
            left:0;
        }
    }
}
