.logo {
    color: $color-primery;
    border: 2px solid $color-primery;   
    height: 80px;
    width: 80px;   
    border-radius: 50%;
    @include flexLayout; 
    background-color: $color-tertiery;   
    >img{
        height: 70%;
        width: 70%;        
    }
}

.main-name {
    font-size: 40px;
    text-align: center;
    font-family: $font-raleway;
    @include logoTextStyle;
}

.sub-name {
    font-size: 20px;
    font-family: $font-poppins;
    @include logoTextStyle;
}

.main-heading{
    font-family: $font-great-vibes;
    font-size: 84px;
    color: $color-secondery; 
    font-weight: 200;  
    text-align: center;
}

.sub-heading{
    font-family: $font-poppins;
    font-size: 32px;
    font-weight: 200;
    color: $color-secondery;
    text-align: center;
    word-spacing: 6px ;
    // font-style: italic;
}

