.logo {
    color: $color-primery;
    border: 2px solid $color-primery;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 88px;
    font-size: 50px;   
    border-radius: 50%;
}
