.header {
    width: 100%;
    height: 100vh;
    position: relative;
    @include backroundPic("../images/fancy-restaurant.jpg");

    .brand {
        @include centerPosition(10%);
        color: $color-primery;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-banner {
        @include centerPosition(40%);
        @include flexLayout;
        flex-direction: column;
        gap: 40px;
    }
}

.about-us {
    height: 80vh;
    display: flex;
    align-items: center;

    &-left {
        width: 40%;
        img {
            width: 100%;
        }
    }

    &-right {
        width: 60%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
            width: 80%;
            text-align: justify;
            font-size: 18px;
            font-family: $font-raleway;
            font-style: italic;
            color: $color-primery;
        }
    }
}

.gallery {
    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    @include flexLayout;
    flex-direction: column;
    padding: 50px 0 20px;
    gap: 50px;

    .brand {
        @include flexLayout;
        flex-direction: column;       
    }

    .media{
        &-list{
            @include flexLayout;
            gap: 20px;

            &-item i{
                color: $color-secondery;
                font-size: 40px;
                transition: all .7s;

                &:hover{
                    color: $color-primery;
                }
            }
        }
    }

    .copyright{
        color: $color-secondery;
        font-size: 18px;
        font-family: $font-raleway;
    }
}
